.carousel {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 0, 0, 0.295) #f1bebf42;
}
.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: rgba(241, 190, 191, 0.3);
  border-radius: 6px;
}

.carousel::-webkit-scrollbar-thumb {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 6px;
}
