---
layout: base.njk
title: About
---

<div class="max-w-screen-md p-6 mx-auto mt-6 rounded">
  <div class="prose prose-stone max-w-none">
    <h2 class="">About Me</h2>
    <img
      class="float-left object-cover mt-2 mb-2 mr-8 rounded max-h-52 not-prose"
      src="{{ about.image }}"
      alt=""
    />
    {% renderFile "./posts/about.md" %}
  </div>
</div>
