---
layout: base.njk
title: Classes
---

<div class="max-w-screen-md p-6 mx-auto mt-6 rounded">
  <div class="prose prose-stone max-w-none">
    {% renderFile "./posts/classes1.md" %}
  </div>
  <div class="justify-between gap-8 mt-12">
    <img
      class="hidden mt-16 rounded shadow-md max-h-60 sm:block sm:float-left sm:mr-8 shadow-stone-500/50"
      src="{{ classes.image }}"
      alt=""
    />
    <div class="prose prose-stone max-w-none">
      {% renderFile "./posts/classes2.md" %}
    </div>
  </div>
  <div class="mt-12 prose prose-stone max-w-none">
    {% renderFile "./posts/classes3.md" %}
  </div>
</div>
