---
layout: base.njk
title: Home
---

<div
  class="flex justify-between max-w-screen-md gap-12 p-6 mx-auto mt-6 rounded bg-stone-100"
>
  <div class="prose">{% renderFile "./posts/pippo1.md" %}</div>
  <img
    class="rounded shadow-md max-h-40 shadow-stone-500"
    src="{{ home.image }}"
    alt=""
  />
</div>
<div class="max-w-screen-md p-6 mx-auto mt-6 prose rounded bg-stone-100">
  {% renderFile "./posts/post2.md" %}
</div>
<div class="max-w-screen-md p-6 mx-auto mt-6 prose rounded bg-stone-100">
  <img
    class="rounded shadow-md max-h-40 shadow-stone-500"
    src="{{ media.gallery[0] }}"
    alt=""
  />
</div>
