---
layout: base.njk
title: Testimonials
---

<div class="max-w-screen-md p-6 mx-auto mt-6 rounded">
  <div class="prose prose-stone max-w-none">
    {% renderFile "./posts/testimonials.md" %}
  </div>
</div>
