---
title: pippo
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>{{ title }}</title>
  </head>
  <body class="py-6">
    <header class="max-w-screen-md mx-auto">
      <div class="w-full">
        <img
          class="object-cover w-full shadow-md shadow-slate-400"
          src="/img/header-blue.png"
          alt="header"
        />
      </div>
    </header>
    {% include "nav.njk" %}
    {{ content | safe }}
    {% include "nav.njk" %}
  </body>
</html>
