<nav
  class="flex max-w-screen-md gap-4 px-4 py-[6px] mx-auto mt-6 bg-[#f1bebf]/80 text-slate-800"
>
  <a
    href="/"
    class="{{ 'font-semibold' if page.url === '/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >Home</a
  >
  <a
    href="/classes"
    class="{{ 'font-semibold' if page.url === '/classes/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >Classes</a
  >
  <a
    href="/prices"
    class="{{ 'font-semibold' if page.url === '/prices/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >Prices</a
  >
  <a
    href="/testimonials"
    class="{{ 'font-semibold' if page.url === '/testimonials/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >Testimonials</a
  >
  <a
    href="/media"
    class="{{ 'font-semibold' if page.url === '/media/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >Photo-Video</a
  >
  <a
    href="/contact"
    class="{{ 'font-semibold' if page.url === '/contact/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >Contact</a
  >
  <a
    href="/about"
    class="{{ 'font-semibold' if page.url === '/about/'}} hover:underline underline-offset-4 decoration-[#c81b54]/80 decoration-2"
    >About</a
  >
</nav>
